/* ABOUT SECTION OF THE PAGE STARTS */

article {
  margin-top: 2rem;
}

.about-header {
  /* border: 2px solid; */
  margin-bottom: -2rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: right;
}

.about-header h4 {
  border: 2px solid black;
  width: 40%;
  text-align: center;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 20px;
  font-weight: 600;
  padding: 1rem;
  transform: rotate(4deg);
  font-size: 30px;
}

.about {
  height: 90vh;
  display: flex;
  width: 80%;
  margin: 0rem auto;
}

.about ul li::before {
  content: "⭐";
}

.about-left {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  border: none;
  margin-top: 5rem;
  /* background-image: url("../image/about.wallpaper.png"); */
  background-position: center;
}

.left-bold {
  font-size: var(--medium-SizeFonts);
  text-align: center;
  width: 90%;
  font-family: "Akaya Telivigala", display;
  line-height: var(--big-lineheight);
  margin-bottom: 1rem;
  line-height: 2.3rem;
}

.left-paragraph {
  width: 90%;
  text-align: left;
  font-size: 16px;
  line-height: var(--normal-lineheight);
  font-family: "Albert Sans", sans-serif;
}

.left-paragraph::first-letter {
  text-transform: uppercase;
  font-size: var(--medium-SizeFonts);
  padding: -10rem;
  color: var(--primary-color);
}

.left-second-paragraph ul {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin-top: 2rem;
  font-size: 13px;
  list-style-type: none;
  color: var(--primary-color);
  font-family: "Albert Sans", sans-serif;
}

.right-image img {
  height: 75vh;
  margin-top: 2rem;
  width: 20rem;
  margin-right: 2rem;
  object-fit: cover;
  border-radius: 50px;
}

.services-below-box {
  display: flex;
  justify-content: space-between;
  width: 90%;
  gap: 1rem;
  /* border: 2px solid blue; */
  margin: 0rem auto;
  height: 30vh;
  padding: 0.3rem;
}

.services-box {
  text-align: center;
  border: 2px solid;
  padding: 2rem;
  width: 30%;
  border-radius: 20px;
  background: linear-gradient(135deg, #667eea, #764ba2, #fc5c7d, #ff9a9e);
  color: white;
  box-shadow: 0px 0px 10px -2px black;
  border: none;
  backdrop-filter: blur(5px);
  font-family: "Albert Sans", sans-serif;
}

.services-box:hover {
  transform: scale(1.1);
  transition: ease-in-out 1s;
}

.services-box p:first-child {
  font-size: 50px;
  font-weight: 700;
}

.services-box p:last-child {
  text-transform: capitalize;
  font-weight: 600;
}

/* ABOUT SECTION OF THE PAGE ENDS */

article {
  margin-top: 2rem;
}

.about-header {
  /* border: 2px solid; */
  margin-bottom: -2rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: right;
}

.about-header h4 {
  border: 2px solid black;
  width: 40%;
  text-align: center;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 20px;
  font-weight: 600;
  padding: 1rem;
  transform: rotate(4deg);
  font-size: 30px;
}

.about {
  height: 90vh;
  display: flex;
  width: 80%;
  margin: 0rem auto;
}

.about ul li::before {
  content: "⭐";
}

.about-left {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  border: none;
  margin-top: 5rem;
  /* background-image: url("../image/about.wallpaper.png"); */
  background-position: center;
}

.left-bold {
  font-size: var(--medium-SizeFonts);
  text-align: center;
  width: 90%;
  font-family: "Akaya Telivigala", display;
  line-height: var(--big-lineheight);
  margin-bottom: 1rem;
  line-height: 2.3rem;
}

.left-paragraph {
  width: 90%;
  text-align: left;
  font-size: 16px;
  line-height: var(--normal-lineheight);
  font-family: "Albert Sans", sans-serif;
}

.left-paragraph::first-letter {
  text-transform: uppercase;
  font-size: var(--medium-SizeFonts);
  padding: -10rem;
  color: var(--primary-color);
}

.left-second-paragraph ul {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin-top: 2rem;
  font-size: 13px;
  list-style-type: none;
  color: var(--primary-color);
  font-family: "Albert Sans", sans-serif;
}

.right-image img {
  height: 75vh;
  margin-top: 2rem;
  width: 20rem;
  margin-right: 2rem;
  object-fit: cover;
  border-radius: 50px;
}

.services-below-box {
  display: flex;
  justify-content: space-between;
  width: 90%;
  gap: 1rem;
  /* border: 2px solid blue; */
  margin: 0rem auto;
  height: 30vh;
  padding: 0.3rem;
}

.services-box {
  text-align: center;
  border: 2px solid;
  padding: 2rem;
  width: 30%;
  border-radius: 20px;
  background: linear-gradient(135deg, #667eea, #764ba2, #fc5c7d, #ff9a9e);
  color: white;
  box-shadow: 0px 0px 10px -2px black;
  border: none;
  backdrop-filter: blur(5px);
  font-family: "Albert Sans", sans-serif;
}

.services-box:hover {
  transform: scale(1.1);
  transition: ease-in-out 1s;
}

.services-box p:first-child {
  font-size: 50px;
  font-weight: 700;
}

.services-box p:last-child {
  text-transform: capitalize;
  font-weight: 600;
}

