/* .texti{
 margin: 5rem auto; 
  padding: 5rem 0rem; 
} */

.testimonial-section {
  display: flex;
  height: 90vh;
  overflow: hidden;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.carousel {
  /* border: 2px solid blue !important; */
  width: 50% !important;
  background-color: whitesmoke;
  padding-right: 0rem !important;
}

.carousel-header {
  /* border: 2px solid; */
  text-align: center;
  padding: 0.5rem;
}

.carousel-header h5 {
  font-size: 50px;
  text-transform: capitalize;
  font-weight: 600;
  /* border: 2px solid; */
  text-shadow: #667eea;
}

.carousel-inner {
  /* border: 3px solid red; */
  display: flex !important;
  justify-content: center !important;
  align-items: center;
  height: 90vh !important;
}

.carousel-item {
  /* border: 2px solid green !important; */
  width: 50% !important;
  margin: 0 auto !important;
  height: 70vh !important;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  font-family: "Albert Sans", sans-serif;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  border: 2px solid;
  padding: 1rem;
  background-color: #667eea;
  border-radius: 20px;
}
.carousel-box {
  border: 2px solid;
  border-right: none;
  border-left: none;
  border-bottom: none;
  background-color: white;
  border-radius: 30px;
  overflow: hidden;
  height: 17vh;
  /* border: 2px solid; */
  /* display: flex; */
}

.carousel-text {
  border: 2px solid;
  border-right: none;
  border-left: none;
  border-bottom: none;
  padding-left: 1rem;
}

.carousel-box img {
  /* border: 2px solid; */
  width: 20%;
}

.testimonial-header {
  width: 70%;
  top: 0;
  position: sticky;
  border: 8px solid #667eea;
  background-image: url(../image/testimonial.img.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  margin-left: -4rem;
  border-bottom: none;
  border-top: none;
}

.faq-section {
  /* border: 2px solid black; */
  display: flex;
  margin-top: -6rem;
}

.faq-section h5 {
  font-weight: 600;
  font-size: 30px;
}

.faq-writeup {
  /* border: 2px solid red; */
  width: 55%;
  background-color: whitesmoke;
}

.faq-image {
  border: 8px solid blue;
  width: 55%;
  height: 60vh;
  background-image: url(../image/testimonial.img.jpg);
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
  border-top: none;
  border-right: none;
  border-bottom: none;
}

.accordion {
  /* border: 2px solid red; */
  margin: 5rem auto;
  width: 80%;
}


article {
  margin-top: 2rem;
}

.about-header {
  /* border: 2px solid; */
  margin-bottom: -2rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: right;
}

.about-header h4 {
  border: 2px solid black;
  width: 40%;
  text-align: center;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 20px;
  font-weight: 600;
  padding: 1rem;
  transform: rotate(4deg);
  font-size: 30px;
}

.about {
  height: 90vh;
  display: flex;
  width: 80%;
  margin: 0rem auto;
}

.about ul li::before {
  content: "⭐";
}

.about-left {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  border: none;
  margin-top: 5rem;
  /* background-image: url("../image/about.wallpaper.png"); */
  background-position: center;
}

.left-bold {
  font-size: var(--medium-SizeFonts);
  text-align: center;
  width: 90%;
  font-family: "Akaya Telivigala", display;
  line-height: var(--big-lineheight);
  margin-bottom: 1rem;
  line-height: 2.3rem;
}

.left-paragraph {
  width: 90%;
  text-align: left;
  font-size: 16px;
  line-height: var(--normal-lineheight);
  font-family: "Albert Sans", sans-serif;
}

.left-paragraph::first-letter {
  text-transform: uppercase;
  font-size: var(--medium-SizeFonts);
  padding: -10rem;
  color: var(--primary-color);
}

.left-second-paragraph ul {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin-top: 2rem;
  font-size: 13px;
  list-style-type: none;
  color: var(--primary-color);
  font-family: "Albert Sans", sans-serif;
}

.right-image img {
  height: 75vh;
  margin-top: 2rem;
  width: 20rem;
  margin-right: 2rem;
  object-fit: cover;
  border-radius: 50px;
}

.services-below-box {
  display: flex;
  justify-content: space-between;
  width: 90%;
  gap: 1rem;
  /* border: 2px solid blue; */
  margin: 0rem auto;
  height: 30vh;
  padding: 0.3rem;
}

.services-box {
  text-align: center;
  border: 2px solid;
  padding: 2rem;
  width: 30%;
  border-radius: 20px;
  background: linear-gradient(135deg, #667eea, #764ba2, #fc5c7d, #ff9a9e);
  color: white;
  box-shadow: 0px 0px 10px -2px black;
  border: none;
  backdrop-filter: blur(5px);
  font-family: "Albert Sans", sans-serif;
}

.services-box:hover {
  transform: scale(1.1);
  transition: ease-in-out 1s;
}

.services-box p:first-child {
  font-size: 50px;
  font-weight: 700;
}

.services-box p:last-child {
  text-transform: capitalize;
  font-weight: 600;
}

/* Footer Styles */
footer {
  margin: 6rem auto;
  background-size: cover;
  background-position: center;
  margin-bottom: 0;
  border: 2px solid;
  background: url(../image/about.wallpaper.png);
  background-position: bottom;
  background-size: cover;
  border: none;
}

.footer-box {
  /* border: 2px solid white; */
  width: 50%;
}

.footer-writeup {
  display: flex;
  justify-content: space-around;
  border: 2px solid black;
  height: 20vh;
  color: black;
  padding: 2rem;
  backdrop-filter: blur(5px);
  width: 100%;
  height: inherit;
  z-index: 1;
  border-top: none;
  border-right: none;
  border-left: none;
}

.footer-socials a {
  border: 2px solid black;
  padding: 1rem;
  border-radius: 50%;
  color: black;
  margin-top: 2rem;
}

.footer-socials i:hover {
  transform: scale(1.2);
}

.footer-box-one {
  border: 2px solid;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border: none;
  font-family: 'Albert Sans', sans-serif;
}

/* Testimonial & FAQ Styles */
.testimonial-section {
  display: flex;
  height: 90vh;
  overflow: hidden;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.carousel {
  /* border: 2px solid blue !important; */
  width: 50% !important;
  background-color: whitesmoke;
  padding-right: 0rem !important;
}

.carousel-header {
  /* border: 2px solid; */
  text-align: center;
  padding: 0.5rem;
}

.carousel-header h5 {
  font-size: 50px;
  text-transform: capitalize;
  font-weight: 600;
  /* border: 2px solid; */
  text-shadow: #667eea;
}

.carousel-inner {
  /* border: 3px solid red; */
  display: flex !important;
  justify-content: center !important;
  align-items: center;
  height: 90vh !important;
}

.carousel-item {
  /* border: 2px solid green !important; */
  width: 50% !important;
  margin: 0 auto !important;
  height: 70vh !important;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  font-family: "Albert Sans", sans-serif;
}

.carousel-control-next-icon, 
.carousel-control-prev-icon {
  border: 2px solid;
  padding: 1rem;
  background-color: #667eea;
  border-radius: 20px;
}

.carousel-box {
  border: 2px solid;
  border-right: none;
  border-left: none;
  border-bottom: none;
  background-color: white;
  border-radius: 30px;
  overflow: hidden;
  height: 17vh;
  /* border: 2px solid; */
  /* display: flex; */
}

.carousel-text {
  border: 2px solid;
  border-right: none;
  border-left: none;
  border-bottom: none;
  padding-left: 1rem;
}

.carousel-box img {
  /* border: 2px solid; */
  width: 20%;
}

.testimonial-header {
  width: 70%;
  top: 0;
  position: sticky;
  border: 8px solid #667eea;
  background-image: url(../image/testimonial.img.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  margin-left: -4rem;
  border-bottom: none;
  border-top: none;
}

.faq-section {
  /* border: 2px solid black; */
  display: flex;
  margin-top: -6rem;
}

.faq-section h5 {
  font-weight: 600;
  font-size: 30px;
}

.faq-writeup {
  /* border: 2px solid red; */
  width: 55%;
  background-color: whitesmoke;
}

.faq-image {
  border: 8px solid blue;
  width: 55%;
  height: 60vh;
  background-image: url(../image/testimonial.img.jpg);
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
  border-top: none;
  border-right: none;
  border-bottom: none;
}

.accordion {
  /* border: 2px solid red; */
  margin: 5rem auto;
  width: 80%;
}

.footer-box-one p:first-child {
  font-size: 30px;
  color: black;
  font-weight: 600;
  margin-top: 1rem;
}

.footer-box-one p:last-child {
  font-size: 20px;
  color: black;
  font-weight: 400;
}

.footer-box-two ul li a {
  text-decoration: none;
  color: black;
}

.footer-box-two p {
  color: black;
  font-size: 30px;
  margin-top: 1rem;
  border: 10px solid black;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 20px;
  font-family: 'Albert Sans', sans-serif;
}

.footer-box-two ul li {
  list-style-type: none;
  padding: 0.7rem;
}

.footer-box-two a:hover {
  text-decoration: underline;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  color: black;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Albert Sans', sans-serif;
}


